<form action="/create_reaction_from_submission" method="post">

  <div class="form-group">
    <label for="reaction">
      Reaction
    </label>

    <input type="text" id="reaction" name="reaction" class="form-control" value="<%= @reaction.reaction %>">
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @reaction.user_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="submission_id" value="<%= @submission.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create reaction
  </button>
</form>
