<!-- Form reaction start -->
<form action="/create_reaction_from_submission" method="post">
<!-- Form reaction end -->

  <!-- Label and input for reaction start -->
  <div class="form-group">
    <label for="reaction">
      Reaction
    </label>

    <!-- Input for reaction start -->
    <input type="text" id="reaction" name="reaction" class="form-control" value="<%= @reaction.reaction %>">
    <!-- Input for reaction end -->
  </div>
  <!-- Label and input for reaction end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @reaction.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for submission_id start -->
  <!-- Input for submission_id start -->
  <input type="hidden" name="submission_id" value="<%= @submission.id %>">
  <!-- Input for submission_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create reaction
  </button>
</form>
