<% if @submission.present? %>
  <% if @submission.errors.any? %>
    <% @submission.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new submission
</h1>


<hr>

<form action="/create_submission" method="post">

  <div class="form-group">
    <label for="text">
      Text
    </label>

    <input type="text" id="text" name="text" class="form-control" value="<%= @submission.text %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create submission
  </button>
</form>

<hr>

<a href="/submissions">
  Go back
</a>
