<% if @reaction.present? %>
  <% if @reaction.errors.any? %>
    <% @reaction.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new reaction
</h1>


<hr>

<form action="/create_reaction" method="post">

  <div class="form-group">
    <label for="reaction">
      Reaction
    </label>

    <input type="text" id="reaction" name="reaction" class="form-control" value="<%= @reaction.reaction %>">
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @reaction.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="submission_id">
      Submission
    </label>

    <%= select_tag(:submission_id, options_from_collection_for_select(Submission.all, :id, :text, @reaction.submission_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create reaction
  </button>
</form>

<hr>

<a href="/reactions">
  Go back
</a>
