<!-- Validation failure messages -->
<% if @reaction.present? %>
  <% if @reaction.errors.any? %>
    <% @reaction.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new reaction
</h1>


<hr>

<!-- Form reaction start -->
<form action="/create_reaction" method="post">
<!-- Form reaction end -->

  <!-- Label and input for reaction start -->
  <div class="form-group">
    <label for="reaction">
      Reaction
    </label>

    <!-- Input for reaction start -->
    <input type="text" id="reaction" name="reaction" class="form-control" value="<%= @reaction.reaction %>">
    <!-- Input for reaction end -->
  </div>
  <!-- Label and input for reaction end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @reaction.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for submission_id start -->
  <div class="form-group">
    <label for="submission_id">
      Submission
    </label>

    <!-- Input for submission_id start -->
    <%= select_tag(:submission_id, options_from_collection_for_select(Submission.all, :id, :text, @reaction.submission_id), :class => "form-control") %>
    <!-- Input for submission_id end -->
  </div>
  <!-- Label and input for submission_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create reaction
  </button>
</form>

<hr>

<a href="/reactions">
  Go back
</a>
